html,
body {
  margin: 0;
  padding: 0;

  min-width: 1024px;
  margin: 0 auto;

  font: 20px "PT Mono";
  color: #ffffff;

  background: #da641a;
}

body {
    height: 100%;
}

h1,
h2 {
  text-align: center;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.72);
}

button {
  margin-right: 20px;
  padding: 0 16px;

  font: bold 20px "PT Mono";
  line-height: 54px;

  background: #ffffff;
  border: 0;
}

*[tabindex]:focus, button:focus, input:focus {
  outline: none;
  box-shadow: 0 0 10px #fff000;
}

form {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  z-index: 100;

  min-width: 200px;

  background-color: #414342;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}


header {
  position: relative;

  padding-top: 30px;

  background: #2b5cfc;
  background: linear-gradient(180deg, #0000ff, #94c6fd);
  border-bottom: solid 8px #1cb34d;
}

.demo {
  width: 700px;
  height: 300px;
  margin: 0 auto;
}


.main-section {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto 60px;
  padding: 10px;
  background: url(./img/background.jpg);
  background-position-y: -50px;
  height: 700px;
}

.hero {
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: 350px;
}

.enemy {
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -400px;
}

.dagger {
    position: absolute;
    bottom: 75px;
    left: 750px;
}

.inn {
    position: absolute;
    top: 30px;
    left: 200px;
}

.bag {
    position: absolute;
    bottom: 0;
    left: 53%;
    margin-left: 350px;
}

.weapon {
    position: absolute;
    bottom: 165px;
    left: 50%;
    margin-left: 460px;
}


footer {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
}


footer p {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.overlay-container,
.overlay-gallery {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  overflow: auto;

  background: rgba(0, 0, 0, 0.8);
}


.overlay-gallery-close {
  position: absolute;
  top: -5px;
  right: 0;

  padding: 0 10px;

  font-size: 45px;
  text-align: center;

  cursor: pointer;
}


.footer-link {
  position: relative;

  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link img {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.setup {
  width: 800px;

  position: absolute;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);

  background: #89a1fd;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #000;

  z-index: 3;
}

.setup-open {
  position: absolute;
  top: 60px;
  right: 100px;

  cursor: pointer;

  z-index: 2;
}

.setup-open:hover {
  border-radius: 50%;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
  
}

.setup-title {
  padding: 20px;
}

.setup-user {
  display: inline-block;
}

.setup-open-icon,
.setup-user-pic {
  width: 40px;
  height: 40px;

  display: inline-block;

  margin-right: 5px;
  border-radius: 40px;
  overflow: hidden;
  vertical-align: middle;
}

.setup-user-name {
  background: transparent;
  border: 0;
  color: #fff;

  font-family: 'PT Mono', serif;
  font-size: 30px;
  font-weight: 900;

  width: 500px;
}

.setup-user-name:valid {
  border: 0;
}

.setup-user-name:invalid {
  border: 2px solid red;
}

.setup-user-name:focus {
  border-bottom: solid 1px #000;
  outline: none;
}

.setup-close {
  float: right;

  top: 20px;
  right: 20px;

  font-size: 70px;
  color: #000;
  cursor: pointer;

  transform: translateY(-0.3em);
}

.setup-health {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-left: 20px;

  width: 716px;
  height: 65px;
  color: white;
}

.health-title {
    width: 150px;
    padding: 20px;
    margin-right: -90px;
}

.number--info {
    text-align: center;
    padding-top: 15px;
    
}

.small--picture {
    text-align: center;
    padding-top: 10px;
    
}

.setup-wizzard {
  padding: 30px;
}

.setup-artifacts {
  position: absolute;
  bottom: 180px;
  right: 130px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 260px;
  height: 260px;

  color: white;
}

.setup-artifacts-cell {
  position: relative;
  width: 65px;
  height: 65px;

  background: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5);

  box-sizing: border-box;
}

.setup-artifacts-cell:last-child {
  border-right-width: 1px;
}

.setup-footer {
  border-top: 10px solid #1cb34d;
  padding-bottom: 20px;

  background-color: #da641a;
}

.setup-submit {
  display: block;
  margin: 20px auto;
  width: 175px;
  background: #1cb34d;
  color: #fff;
}

.setup-submit:disabled {
  opacity: 0.3;
}

.overlay-gallery {
  text-align: center;
}

.overlay-gallery-controls {
  margin: 100px 0;
}

.overlay-gallery-control {
  display: inline-block;
  width: 30px;
  height: 46px;

  vertical-align: middle;

  background: url("../img/arrows-sprite.png") no-repeat;
  cursor: pointer;
}

.overlay-gallery-control-right {
  background-position: -30px 0;
}

.overlay-gallery-preview {
  position: relative;

  display: inline-block;
  min-width: 300px;
  min-height: 300px;

  vertical-align: middle;

  font-size: 0;

  border: dotted 1px rgba(255, 255, 255, 0.2);
}

.overlay-gallery-preview-number {
  position: absolute;
  top: -1.5em;
  left: 0;

  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

.upload {
  position: relative;

  display: inline-block;

  box-sizing: border-box;

  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
}

.upload .setup-user-pic {
  display: block;
  margin: 0;

  position: absolute;
  left: 0;
  top: 10px;
}

.upload input {
  position: absolute;
  z-index: 0;
  opacity: 0;
  width:100%;
  height:100%;

  left: 0;
  top: 0;
}
